body {
  color: black;
  font-family: "HelveticaNeue";
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

header {
  text-align: center;
}

input {
  border: 0px;
  border-bottom: 2px solid black;
  width: 400px;
  margin: 10px;
  height: 30px;
  font-size: 20px;
  outline: none;
}

input[type="submit"] {
  border: 0px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.not-signed-in-buttons {
  text-decoration: none;
  background-color: #E5F2F7;
  border: 5px solid black;
  padding: 10px;
  padding-bottom: 45px;
  padding-top: 45px;
  border-radius: 90px 90px 90px 90px;
  display: inline-block;
  position: relative;
  height: 60px;
  width: 140px;
  text-align: center;
  color: black;
}

#sign-in-container {
  position: relative;
  display: block;
  text-align: center;
  top: 30%;
}

form {
  margin: 30px;
  font-size: 30px;
}

#error {
  margin: 20px;
  color: red;
  font-size: 30px;
}