<!doctype html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
  </head>

  <body>

    <ul id='messages'>
      
    </ul>
    <section id='userText'>
      <input id='m' autocomplete='off'/>
      <button id='textSubmit'>Send</button>
    </section>
  </body>

  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src='/javascript/chat.js'></script>

</html>