<head>
  <link rel="stylesheet" type="text/css" href="/css/reset.css"> 
  <link rel="stylesheet" type="text/css" href="/css/app.css"> 
</head>

<body>

  <% if current_user %>
    <form method='post' action='/sessions/delete'>
      <input type='hidden' name='method' value='delete'>
      <input id ='signout' type='submit' value='Sign out'>
    </form>
  <% end %>
  
  <ul id='error'>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
  </ul>

  <%= yield %>

</body>