<body>

  <% if current_user %>
    Welcome, <%= current_user.email %>
  <% end %>
  <ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
  </ul>

  <%= yield %>

</body>