<head>
  <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

<body>

  Please Sign in:

  <form action='/sessions' method='post'>
    Email: 
    <br>
    <input name='email' type='text'>
    <br>
    Password: 
    <br>
    <input name='password' type='password'>
    <br>
    <input type='submit' value='Sign in'>
  </form>
  
</body>